#aboutcontent {
  background-color: white;
  margin: 9em 5em 0em 5em;
  text-align: center;
  min-height: 30em;
}

#aboutcontent h2 {
  letter-spacing: 10px;
  padding: 5%;
}

#description {
  margin-bottom: 3%;
  width: 40em;
}

#aboutimg {
  width: 40%;
  margin-top: -5em;
  display: block;
}

#contact {
  background-color: white;
  margin: 5em 5em 0em 5em;
  padding: 2em;
  text-align: center;
}

#info a {
  color: #121212;
  text-decoration: none;
  transition: 0.2s ease;
}

#info a:hover {
  color: rgb(253, 170, 183);
}

@media screen and (max-width: 1400px) {
  #aboutcontent {
    margin: 9em 0em 3em 0em;
  }

  #contact {
    margin: 3em 0em 0em 0em;
  }

  #aboutimg {
    width: 60%;
    margin-top: -3em;
  }
}

@media screen and (max-width: 720px) {
  #description {
    width: 25em;
  }
}

@media screen and (max-width: 420px) {
  #description {
    width: 20em;
  }

  #aboutimg {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  #description {
    width: 15em;
  }

  #aboutimg {
    margin-top: -3em;
  }
}
