#aboutcontent {
  background-color: white;
  margin: 9em 5em 0em 5em;
  text-align: center;
  min-height: 30em;
}

#aboutcontent h2 {
  letter-spacing: 10px;
  padding: 5%;
}

#description {
  margin-bottom: 3%;
  width: 40em;
}

#aboutimg {
  width: 40%;
  margin-top: -10em;
  display: block;
}

#contact {
  background-color: white;
  margin: 5em 5em 0em 5em;
  padding: 2em;
  text-align: center;
}

#info a {
  color: #121212;
  text-decoration: none;
  transition: 0.2s ease;
}

#info a:hover {
  color: rgb(253, 170, 183);
}
