#accounthok {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 25em;
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  background-color: rgb(231, 231, 231);
  border: 2px solid darkgray;
}

#accountinhoud {
  margin: 20px;
}

#loguit {
  border: none;
  background-color: #121212;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#loguit:hover {
  background-color: rgb(253, 170, 183);
}

@media screen and (max-width: 900px) {
  #accounthok {
    position: static;
    width: 15em;
    margin: 40em 0em 0em 10em;
    height: auto;
  }

  section {
    text-align: center;
    height: 50em;
  }
}
