#cartcontent {
  margin-top: 9em;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  min-height: 30em;
}

#cartcontent h2 {
  letter-spacing: 10px;
  padding: 5%;
}

#afrekenen {
  grid-area: footer;
  text-align: right;
  width: 180px;
}

#none {
  grid-area: none;
  text-align: right;
}

#grid {
  display: grid;
  grid-template-areas:
    'main main main main'
    'none none footer footer';
}

#bestel {
  border: none;
  background-color: #121212;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 30px;
}

#bestel:hover {
  background-color: rgb(253, 170, 183);
}

#items {
  grid-area: main;
  border: 2px solid black;
  padding: 10px;
}

.item {
  border: 2px solid black;
  width: 100%;
  height: 250px;
  margin: 15px;

  display: grid;
  grid-template-areas:
    'foto naam none prijs '
    'foto beschrijving beschrijving verwijder';
  grid-template-columns: 200px 200px 500px 300px;
}

.itemFoto {
  grid-area: foto;
}

.itemNaam {
  grid-area: naam;
  margin-top: 3em;
  margin-left: 3em;
}

.itemPrijs {
  grid-area: prijs;
}

.itemBeschrijving {
  grid-area: beschrijving;
  margin-top: 0px;
  margin-left: 3em;
}

.Foto {
  max-height: 10em;
  max-width: 10em;
}

.Naam {
  font-size: 30px;
}

.verwijder {
  border: none;
  background-color: #121212;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
  grid-area: verwijder;
}

.verwijder:hover {
  background-color: rgb(253, 170, 183);
}

.invisbleInput {
  border: 0px solid white;
  width: 0px;
  height: 0px;
}

@media screen and (max-width: 900px) {
  #cartcontent {
    margin: 0px 9em 0px 0px;
    width: 100%;
  }

  #grid {
    display: block;
    grid-template-areas: '';
  }

  #items,
  .item {
    width: 100%;
    display: block;
    border: none;
    text-align: center;
    padding: 0px;
  }

  .verwijder {
    margin-top: 1em;
  }

  .itemNaam,
  .itemBeschrijving,
  .itemPrijs {
    margin-left: 0px;
  }

  .item {
    margin: 0px;
    height: fit-content;
  }

  #items {
    margin-top: 5em;
  }
}
