#loginhok {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 270px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(231, 231, 231);
  border: 2px solid darkgray;
}

#logininhoud {
  margin: 20px;
}

#login {
  border: none;
  background-color: #121212;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#login:hover {
  background-color: rgb(253, 170, 183);
}

#aanmaak {
  margin: 5px;
}
