#ordercontent {
  margin-top: 9em;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  min-height: 47em;
}

#ordercontent h2 {
  letter-spacing: 10px;
  padding: 5%;
}

#bestel {
  border: none;
  background-color: #121212;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 30px;
}

#bestel:hover {
  background-color: rgb(253, 170, 183);
}

.firstrow {
  text-align: left;
  font-weight: normal;
}

#pasaan {
  border: none;
  background-color: #121212;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 8px 12px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#pasaan:hover {
  background-color: rgb(253, 170, 183);
}

input {
  border: 2px solid rgb(168, 168, 168);
  font-size: 12px;
  border-radius: 4px;
  background-color: white;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 170px;
  margin-left: 7px;
}

@media screen and (max-width: 900px) {
  #ordercontent {
    margin: 9em 0em 0em 0em;
  }

  table {
    width: 100%;
    font-size: 0.7em;
    text-align: left;
  }

  #bestel {
    margin-bottom: 0px;
  }
  
  table {
    font-weight: normal;
  }
}
