#content {
  margin-top: 7em;
}

img {
  width: 15em;
}

#content {
  text-align: center;
}

#button {
  border: none;
  background-color: #121212;
  color: white;
  padding: 10px 55px 10px 55px;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

#button:hover {
  background-color: rgb(253, 170, 183);
  cursor: pointer;
}

#beschrijving {
  font-size: small;
}

#disabled {
  background-color: #acacac;
  border: none;
  color: white;
  padding: 10px 55px 10px 55px;
  font-size: 15px;
}

#disabled a {
  color: white;
  text-decoration: none;
}

#disabled a:hover {
  color: rgb(253, 170, 183);
}

.invisibleInput {
  border: 0px solid white;
  width: 0px;
  height: 0px;
}

@media screen and (max-width: 900px) {
  #disabled {
    padding: 1em;
  }
}
