#registratiehok {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 720px;
  -ms-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  background-color: rgb(231, 231, 231);
  border: 2px solid darkgray;
}

#registratieinhoud {
  margin: 20px;
}

#registreer {
  border: none;
  background-color: #121212;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#registreer:hover {
  background-color: rgb(253, 170, 183);
}

#error {
  color: red;
}

input {
  border: 2px solid rgb(168, 168, 168);
  font-size: 12px;
  border-radius: 4px;
  background-color: white;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 170px;
}

@media screen and (max-width: 900px) {
  #registratiehok {
    position: static;
    width: 15em;
    margin: 30em 0em 0em 11.4em;
    height: auto;
  }

  section {
    text-align: center;
    height: 50em;
  }
}
