@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: auto;
  overflow-x: hidden;
  outline: none;
  scroll-behavior: smooth;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

html {
  /*Dit zorgt ervoor dat de pagina niet opschuift*/
  overflow-y: scroll;
}

body {
  background-color: rgb(241, 240, 240);
}

nav {
  background-color: rgb(241, 240, 240);
  position: fixed;
  min-height: 1em;
  display: grid;
  width: 100%;
  grid-template-areas: 'title navigation shopping';
  padding: 1em;
  top: 0;
  z-index: 100;
}

nav #logo {
  grid-area: title;
  width: 4em;
  height: 4em;
}

nav ul {
  grid-area: navigation;
}

nav li {
  display: inline-block;
  margin: 0px 2.5em;
}

nav #cart {
  grid-area: shopping;
  height: 4em;
  width: 4em;
}

nav .heading {
  color: #121212;
  text-decoration: none;
  transition: 0.2s ease;
}

nav a:hover {
  color: rgb(253, 170, 183);
}

@media screen and (max-width: 900px) {
  nav {
    padding: 0px 0px 0.5em 0px;
    grid-template-areas: 'title shopping navigation';
  }

  nav img {
    margin-left: 1em;
  }

  nav a {
    margin-right: 1em;
  }

  nav ul {
    text-align: center;
    margin-top: 1em;
    padding-left: 0px;
    max-width: 10em;
  }

  nav #cart,
  nav #logo {
    width: 2.5em;
    height: 2.5em;
  }
}
