@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: auto;
  overflow-x: hidden;
  outline: none;
  scroll-behavior: smooth;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(241, 240, 240);
}

nav {
  background-color: rgb(241, 240, 240);
  position: fixed;
  min-height: 50px;
  display: grid;
  width: 100%;
  grid-template-areas: "title navigation shopping";
  padding: 25px;
  top: 0px;
  z-index: 100;
}

html {
  overflow-y: scroll;
}

nav #logo {
  grid-area: title;
  margin-left: 25px;
  width: 2.5em;
  height: 2.5em;
}

nav ul {
  grid-area: navigation;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

nav #cart {
  grid-area: shopping;
  margin-left: 120px;
  height: 2.5em;
  width: 2.5em;
}

nav .heading {
  color: #121212;
  text-decoration: none;
  transition: 0.2s ease;
}

nav a:hover {
  color: rgb(253, 170, 183);
}
