
#aboutcontent {
  margin-top: 9em;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  min-height: 30em;
}

#aboutcontent h2 {
  letter-spacing: 10px;
  padding: 5%;
}

#description {
  margin-bottom: 3%;
}

#aboutimg {
  width: 40%;
  margin-top: -10em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#contact {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5em;
  padding: 10px;
  text-align: center;
}
  
#info a {
  color: #121212;
  text-decoration: none;
  transition: 0.2s ease;
}

#info a:hover {
  color: rgb(253, 170, 183);
}