
#aboutcontent {
  margin-top: 9em;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  min-height: 30em;
}

#aboutcontent h2 {
  letter-spacing: 10px;
  padding: 5%;
}

#description {
  margin-bottom: 3%;
}

#aboutimg {
  width: 40%;
  margin-top: -10em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#contact {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5em;
  padding: 10px;
  display: grid;
  grid-template-areas: "info form";
}
  
#info {
  grid-area: info;
}
  
#info a {
  color: #121212;
  text-decoration: none;
  transition: 0.2s ease;
}

#info a:hover {
  color: rgb(253, 170, 183);
}

form {
  grid-area: form;
  display: grid;
  grid-template-areas: "name surname subject"
                       "message message submit";
}

#name {
  grid-area: name;
}

#surname {
  grid-area: surname;
}

#subject {
  grid-area: subject;
}

#message {
  grid-area: message;
  min-width: 100%;
  max-width: 100%;
}

#submit {
  grid-area: submit;
}