@import url(https://db.onlinewebfonts.com/c/55c4f556836775174bfac94178a3fe82?family=ProximaNW01-Reg);

* {
  margin: auto;
  outline: none;
  font-family: ProximaNW01-Reg, Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(241, 240, 240);
}

nav {
  background-color: rgb(241, 240, 240);
  position: fixed;
  min-height: 50px;
  display: grid;
  width: 100%;
  grid-template-areas: "title navigation shopping";
  padding: 25px;
  top: 0px;
  z-index: 100;
}

nav p {
  grid-area: title;
  margin-left: 25px;
}

nav ul {
  grid-area: navigation;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

nav img {
  grid-area: shopping;
  margin-right: 75px;
}

nav a {
  color: #121212;
  text-decoration: none;
  transition: 0.2s ease;
}

nav a:hover {
  color: rgb(253, 170, 183);
}

#landingtext {
  margin-top: 100px;
  text-align: center;
  background-image: url("home-achtergrond.webp");
  background-size: cover;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 740px;
  color: white;
}

#landingtext h1 {
  position: relative;
  top: 330px;
  font-size: 75px;
  font-weight: lighter;
}

#landingtext h3 {
  position: relative;
  top: 340px;
  font-size: 30px;
  font-weight: lighter;
}

button {
  position: relative;
  top: 370px;
  border: none;
  background-color: #121212;
  color: white;
  padding: 15px 70px 15px 70px;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(253, 170, 183);
  cursor: pointer;
}

#ourcollection {
  background-color: white;
  padding: 100px;
  margin: 50px;
  text-align: center;
}

#ourcollection h3 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 10px;
}
